@import 'tailwindcss';
@import '@repo/tailwind-config';
@import '@repo/ui/styles.css';
@plugin './hero.ts';

@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,jsx,ts,tsx}';
@source '../../node_modules/streamdown/dist/index.js';

:root {
  --sidebar: 64px;
  --header: 60px;
}

.bg-gradient-primary {
  @apply bg-gradient-to-r from-[#F65555] to-[#FFB26A]
}

.bg-main {
  @apply bg-[#FFB26A]
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}

